---
import { CircleCheck, Mail, Phone, Calendar } from  '@lucide/astro';
---

<section class="section my-0! py-10 relative z-0">
	<div class="container relative after:absolute after:-bottom-5 after:left-0 after:bg-[url('/img/shape/shape1.svg')] after:bg-no-repeat after:w-35 after:h-17 after:bg-position-[left_bottom]] after:bg-contain after:-z-10">
		<div class="rounded-2xl border-2 border-main-200 p-4 lg:p-10 bg-[linear-gradient(45deg,#F8FDFF,#FFFFFF)] ">
			<h2 class="font-semibold text-main-200 text-2xl">
				Easily book an appointment in 3 simple steps.
			</h2>
			<form action="/" method="POST" class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-6 items-end">
				<div class="w-full">
					<label for="email" class="flex gap-3 items-center mb-3 text-black"><Mail class="text-main-200"/>Email Address</label>
					<input type="email" id="email" name="email" required class="input bg-white text-black border border-gray-300 w-full py-3 px-6 h-auto rounded-lg text-lg" placeholder="Enter Your Email Address"/>
				</div>
				<div class="w-full">
					<label for="phone" class="flex gap-3 items-center mb-3 text-black"><Phone class="text-main-200"/>Contact Number</label>
					<input type="tel" id="phone" name="phone" required class="input bg-white text-black border border-gray-300 w-full py-3 px-6 h-auto rounded-lg text-lg" placeholder="Enter Your Contact Number"/>
				</div>
				<div class="w-full">
					<label for="date" class="flex gap-3 items-center mb-3 text-black"><Calendar class="text-main-200"/> Date of Appointment</label>
					<input type="date" id="date" name="date" required class="input bg-white text-black border border-gray-300 w-full py-3 px-6 h-auto rounded-lg text-lg" placeholder="Select Date of Appointment"/>
				</div>
				<div class="w-full">
					
						<button type="submit" class="btn bg-[linear-gradient(125deg,var(--color-main-100),var(--color-main-200))] text-white border-0 rounded-xl text-lg py-3 px-6 h-auto shadow-xl hover:shadow-2xl w-full">Book Now <CircleCheck /></button>
				</div>
			</form>
		</div>
	</div>
</section>