---
import Image from "astro/components/Image.astro";
---

<section class="section relative z-0">
  <div class="container">
    <hgroup class="text-center max-w-5xl mx-auto">
      <h2>
        How <span
          class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent"
          >our platform</span
        > works
      </h2>
      <p>
        Navigating your healthcare journey with HealNet is seamless. Just follow
        these steps mentioned below to proceed with your selected services. You
        can also see our FAQ section for more guidance:
      </p>
    </hgroup>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mt-10 items-center">
      <div class="grid gap-10 grid-cols-[52px_1fr] relative after:absolute after:top-0 after:left-6.5 after:border-main-200 after:border-dashed after:border-l-2 after:bg-no-repeat after:w-13 after:h-[calc((100%*2)/3+20px)] after:-z-10 order-2 lg:order-1 dark:text-white">
		<div class="w-13 h-13 rounded-full bg-[linear-gradient(45deg,#A7E2FF,#0095DE)] text-white text-xl font-semibold flex items-center justify-center">1</div>
		<div>
			<h3>Create Your Profile</h3>
			<p>
				Sign up and fill in your medical history securely. Setting up your profile this way would ensure that you stay up-to-date with your medical processes.
			</p>
		</div>
		<div class="w-13 h-13 rounded-full bg-[linear-gradient(45deg,#A7E2FF,#0095DE)] text-white text-xl font-semibold flex items-center justify-center">2</div>
		<div>
			<h3>Choose Your Service</h3>
			<p>
				Select from our range of services and book a consultation. Booking a consultation with HealNet is fairly simple and straight-forward.
			</p>
		</div>
		<div class="w-13 h-13 rounded-full bg-[linear-gradient(45deg,#A7E2FF,#0095DE)] text-white text-xl font-semibold flex items-center justify-center">3</div>
		<div>
			<h3>Meet Your Doctor</h3>
			<p>
				Have a virtual consultation with one of our certified specialists, or go for a physical visit to the doctor in case you opted for a physical check-up.
			</p>
		</div>

	  </div>
      <div class="grid order-1 lg:order-2">
        <Image
          src="/img/img3.png"
          alt="How it works"
          width={374}
          height={398}
          format="webp"
          quality="low"
          class="w-full h-auto mx-auto [grid-area:1/1/2/2]"
        />
        <div
          class="bg-white p-4 rounded-xl shadow hidden sm:flex sm:max-w-[60%] text-main-200 text-lg items-center gap-3 [grid-area:1/1/2/2] mt-[80%] ml-auto mb-auto"
        >
          <svg class="icon" width="30" height="30">
            <use xlink:href="#star"></use>
          </svg>
          Best Certified Team of Specialists
        </div>
      </div>
    </div>
  </div>
</section>
