---
import Image from "astro/components/Image.astro";
---

<section class="section">
  <div class="container">
    <article
      class="bg-[linear-gradient(45deg,#F8FDFF,#FFFFFF)] text-black rounded-2xl p-4 lg:p-10 border-2 border-main-200"
    >
      <h2 class="text-center">
        <span
          class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent"
          >HealNet’s Story:
        </span> Get to know us
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-4 lg:gap-10 mt-4 lg:mt-10 items-stretch text-center md:text-left">
        <div>
          <Image
            src="/img/img2.webp"
            alt="Story Image"
            format="webp"
            quality="low"
            width="448"
            height="344"
            class="w-auto h-auto mx-auto rounded-xl object-cover"
          />
        </div>
        <div class="h-full flex flex-col justify-between align-start">
          <p class="mb-5">
            HealNet is more than just an online medical service; it’s a movement
            towards accessible, efficient, and compassionate healthcare for all.
            Founded by a team of visionary doctors, healthcare professionals,
            and technology experts, we are driven by the mission to deliver
            exceptional medical care directly to you, no matter where you are.
            Our platform is built on the pillars of trust, innovation, and
            patient-centricity, ensuring that every interaction is personalized
            and every treatment plan is tailored to your unique needs. With a
            network of licensed practitioners from diverse medical fields, we
            guarantee comprehensive care that’s just a click away.
          </p>
          <a
            href="#"
            class="btn bg-[linear-gradient(125deg,var(--color-main-100),var(--color-main-200))] text-white border-0 rounded-xl text-lg py-3 px-6 h-auto shadow-xl hover:shadow-2xl md:mr-auto"
            >Learn more about us</a
          >
        </div>
      </div>
    </article>
  </div>
</section>
