---
import Image from "astro/components/Image.astro";
import { Phone } from  '@lucide/astro';

---

<section class="section overflow-hidden">
  <div class="container">
    <hgroup class="text-center max-w-5xl mx-auto">
      <h2>
        <span
          class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent"
          >Masters of Medicine:</span
        >
        <br /> Meet our team of specialists
      </h2>
      <p>
        Our team of specialists is at the forefront of medical innovation. Each
        specialist brings a unique blend of expertise, empathy, and experience
        to ensure that your health is in the best hands:
      </p>
    </hgroup>

	<div class="max-w-4xl mx-auto py-10 grid gap-10 relative z-0
	after:absolute after:top-5 after:-left-10 after:bg-[url('/img/shape/shape5.svg')] after:bg-no-repeat after:w-29 after:h-14.75 after:bg-position-[left_top]] after:bg-contain after:-z-10 
	
	before:absolute before:bottom-5 before:-right-10 before:bg-[url('/img/shape/shape6.svg')] before:bg-no-repeat before:w-29 before:h-14.75 before:bg-position-[right_bottom]] before:bg-contain before:z-0
	">
		<article class="rounded-2xl text-white bg-[radial-gradient(circle_at_center,#35BDFF_38%,#008CD0_100%)] grid grid-cols-1 md:grid-cols-[300px_1fr]  items-center relative">
			
				<Image
					src="/img/cm1.webp"
					alt="Our Team"
					width={289}
					height={371}
					format="webp"
					quality="low"
					class="w-auto h-auto left-0 -top-10 -mt-10 md:block hidden"
				/>
				<div class="sm:p-10 p-4">
					<h3 class="">Dr. Sarah Johnson (Cardiologist)</h3>
					<p class="mb-6">
						Heart health is Dr. Wong’s passion, and her approach to cardiology integrates cutting-edge technology with compassionate care. She’s a respected voice in the prevention of heart disease and a trusted partner to her patients on their journey to wellness.
					</p>
					<a href="#" class="btn shadow-none rounded-xl h-auto px-4 py-3 text-lg hover:bg-main-200  group hover:border-main-200"><span class="bg-linear-to-r from-[#007DAA] to-[#15B2FF] bg-clip-text text-transparent group-hover:text-white">Book appointment</span><Phone size={24} class="text-main-200 group-hover:text-white" /></a>
				</div>
			
		</article>

		<article class="rounded-2xl text-white bg-[radial-gradient(circle_at_center,#35BDFF_38%,#008CD0_100%)] grid grid-cols-1 md:grid-cols-[300px_1fr]  items-center relative">
			
				<Image
					src="/img/cm2.webp"
					alt="Our Team"
					width={289}
					height={371}
					format="webp"
					quality="low"
					class="w-auto h-full  ml-3 -mt-9 md:block hidden scale-110"
				/>
				<div class="sm:p-10 p-4">
					<h3 class="">Dr. Mark Lee (Dermatologist )</h3>
					<p class="mb-6">
						Dr. Lee is a visionary in dermatology, advancing treatments for skin health with a gentle, holistic approach. His dedication to clinical excellence and patient education has made him a leader in dermatological care. He’s known for his precision and commitment to patient-centered care.
					</p>
					<a href="#" class="btn shadow-none rounded-xl h-auto px-4 py-3 text-lg hover:bg-main-200  group hover:border-main-200"><span class="bg-linear-to-r from-[#007DAA] to-[#15B2FF] bg-clip-text text-transparent group-hover:text-white">Book appointment</span><Phone size={24} class="text-main-200 group-hover:text-white" /></a>
				</div>
			
		</article>
	</div>
  </div>
</section>
