---
import Image from "astro/components/Image.astro";
---

<section class="section overflow-hidden">
  <div class="container">
    <hgroup class="text-center max-w-5xl mx-auto">
      <h2>
        <span
          class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent"
          >Patient Testimonials:</span
        >
        <br />Hear from Those We’ve Cared For
      </h2>
      <p>
        Discover the difference we make through the voices of those we’ve
        served:
      </p>
    </hgroup>

    <div class="py-15 grid gap-10 relative z-0 after:absolute after:top-0 after:-left-10 after:bg-[url('/img/shape/shape3.svg')] after:bg-no-repeat after:w-31.5 after:h-31.5 after:bg-position-[left_top]] after:bg-contain after:-z-10 
	
	before:absolute before:bottom-0 before:-right-10 before:bg-[url('/img/shape/shape4.svg')] before:bg-no-repeat before:w-31.5 before:h-31.5 before:bg-position-[right_bottom]] before:bg-contain before:-z-10">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <article
          class="border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[radial-gradient(circle_at_top_left,#EBF8FF_2%,#FDFEFF_50%)] grid grid-cols-[100px_1fr] gap-4 text-black"
        >
          <Image
            src="/img/cmnts/ava1.webp"
            alt="John D."
            width={100}
            height={100}
            format="webp"
            quality="low"
            class="rounded-xl w-24 h-24 object-cover"
          />
          <div class="text-sm md:text-base">
            <p>
              “After my knee surgery, the convenience of online consultations
              made my recovery smoother than I could have imagined.”
            </p>
            <p><b>- Linda A.</b></p>
          </div>
        </article>

        <article
          class="border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[radial-gradient(circle_at_top_left,#EBF8FF_2%,#FDFEFF_50%)] grid grid-cols-[100px_1fr] gap-4 text-black"
        >
          <Image
            src="/img/cmnts/ava2.webp"
            alt="Henry B."
            width={100}
            height={100}
            format="webp"
            quality="low"
            class="rounded-xl w-24 h-24 object-cover"
          />
          <div class="text-sm md:text-base">
            <p>
              “Managing chronic conditions like diabetes requires a lot of
              vigilance, but the medicine refill system has simplified my life.”
            </p>
            <p><b>- Henry B.</b></p>
          </div>
        </article>
      </div>

      <div
        class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-10 items-center max-w-6xl mx-auto"
      >
        <div class="text-center">
          <div
            class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent font-bold text-3xl sm:text-5xl"
          >
            10,000+
          </div>
          <p>Successful Consultations</p>
        </div>
        <div class="text-center">
          <div
            class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent font-bold text-3xl sm:text-5xl"
          >
            2,500+
          </div>
          <p>Healthcare Professionals</p>
        </div>
        <div class="text-center">
          <div
            class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent font-bold text-3xl sm:text-5xl"
          >
            98%
          </div>
          <p>Patient Satisfaction Rate</p>
        </div>
        <div class="text-center">
          <div
            class="bg-linear-to-r from-[#0179B4] to-[#88D8FF] bg-clip-text text-transparent font-bold text-3xl sm:text-5xl"
          >
            200+
          </div>
          <p>Top Specialists</p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <article
          class="border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[radial-gradient(circle_at_top_left,#EBF8FF_2%,#FDFEFF_50%)] grid grid-cols-[100px_1fr] gap-4 text-black"
        >
          <Image
            src="/img/cmnts/ava3.webp"
            alt="Joshua T."
            width={100}
            height={100}
            format="webp"
            quality="low"
            class="rounded-xl w-24 h-24 object-cover"
          />
          <div class="text-sm md:text-base">
            <p>
              “The prescription refill system is a game-changer for managing my
              diabetes. It’s really efficient and completely hassle-free.”
            </p>
            <p><b>- Joshua T.</b></p>
          </div>
        </article>

        <article
          class="border-2 border-main-200 rounded-xl p-4 lg:p-10 bg-[radial-gradient(circle_at_top_left,#EBF8FF_2%,#FDFEFF_50%)] grid grid-cols-[100px_1fr] gap-4 text-black"
        >
          <Image
            src="/img/cmnts/ava4.webp"
            alt="Samantha K."
            width={100}
            height={100}
            format="webp"
            quality="low"
            class="rounded-xl w-24 h-24 object-cover"
          />
          <div class="text-sm md:text-base">
            <p>
              “Finding a doctor who really understands all of my health needs
              has never been easier. This platform has changed my life.”
            </p>
            <p><b>- Samantha K.</b></p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
