---
import Layout from "../layouts/MainLayout.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Not found">
  <section class="section flex-1 flex flex-col justify-center items-center">
    <div class="container text-center grid gap-4">
      <div class="text-center mx-auto">
        <Logo />
      </div>
      <h1 class="text-5xl! lg:text-[10em]! font-bold leading-none">404</h1>
      <p>Sorry, we couldn't fint that page</p>
      <a href="/" class="btn bg-[linear-gradient(125deg,var(--color-main-100),var(--color-main-200))] text-white border-0 rounded-xl text-lg py-3 px-6 h-auto shadow-xl hover:shadow-2xl mx-auto"
        >GO TO HOME</a
      >
    </div>
  </section>

  <style>
	h1 {
		font-size: 10em;
		line-height: 0.8;
	}
  </style>
</Layout>
