---
const today = new Date();
import Image from "astro/components/Image.astro";
---

<footer class="footer w-full bg-[#F2FAFF] gap-0 dark:bg-black">
  <div class="footer-top w-full py-15">
    <div class="container">
      <div class="grid grid-cols-1 lg:grid-cols-[1fr_2fr] gap-10">
        <div>
          <a href="/">
            <Image
              src="/img/logo2.svg"
              alt="HealNet Logo"
              width="168"
              height="144"
            />
          </a>
          <p class="mt-4">
            Experience personalized medical care from the comfort of your home.
          </p>

        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 gap-10">
          <div>
            <h3 class="text-main-200">Support</h3>

            <nav class="grid gap-3">
              <a href="#" class="hover:text-main-200 hover:underline"
                >Getting Started</a
              >
              <a href="#" class="hover:text-main-200 hover:underline">FAQS</a>
              <a href="#" class="hover:text-main-200 hover:underline"
                >Help Articles</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Report an issue</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Contact Help Desk</a
              >
            </nav>
          </div>
          <div>
            <h3 class="text-main-200">Services</h3>

            <nav class="grid gap-3">
              <a href="#" class="hover:text-main-200 hover:underline"
                >Booking appointments</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Online consultations</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Prescriptions</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Medicine Refills</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Medical Notes</a
              >
            </nav>
          </div>
          <div>
            <h3 class="text-main-200">Legal</h3>

            <nav class="grid gap-3">
              <a href="#" class="hover:text-main-200 hover:underline"
                >Terms & Conditions</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Privacy Policy</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Cookie Notice</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Cookie Preferences</a
              >
              <a href="#" class="hover:text-main-200 hover:underline"
                >Trust Center</a
              >
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-btm w-full">
    <div class="container pb-5">
      <hr class="border-t border-main-200 mb-5" />
      <div class="flex flex-wrap gap-4 items-center justify-between">
          <div class="flex flex-wrap gap-3 items-center">
            <a href="#" class="transition hover:-rotate-6" title="Facebook">
              <svg class="icon" width="32" height="32">
                <use xlink:href="#soc1"></use>
              </svg>
            </a>
            <a href="#" class="transition hover:-rotate-6" title="Instagram">
              <svg class="icon" width="32" height="32">
                <use xlink:href="#soc2"></use>
              </svg>
            </a>
            <a href="#" class="transition hover:-rotate-6" title="Linkedin">
              <svg class="icon" width="32" height="32">
                <use xlink:href="#soc3"></use>
              </svg>
            </a>
            <a href="#" class="transition hover:-rotate-6" title="Youtube">
              <svg class="icon" width="32" height="32">
                <use xlink:href="#soc4"></use>
              </svg>
            </a>
          </div>
        <p>
          HealNet &copy; {today.getFullYear()}. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
