---
import HeaderLink from './HeaderLink.astro';
import { Menu } from '@lucide/astro';
import Logo from './Logo.astro';
---

<header>
	<nav class="container grid grid-cols-[168px_1fr_auto] py-4 items-center gap-2">
		<Logo />
		<div class="hidden lg:flex gap-10 items-center mx-auto">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/services">Services</HeaderLink>
			<HeaderLink href="/doctors">Find Doctors</HeaderLink>
			<HeaderLink href="#">About us</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="#">Contact us</HeaderLink>
		</div>
		<a href="#" class="btn ml-auto bg-[linear-gradient(125deg,var(--color-main-100),var(--color-main-200))] text-white border-0 rounded-xl text-lg py-3 px-6 h-auto shadow-xl hover:shadow-2xl">Join us</a>
			<label for="my-drawer-2" aria-label="open sidebar" class="btn btn-square btn-ghost lg:hidden">
         <Menu />
        </label>
	</nav>
</header>
