---
import Image from "astro/components/Image.astro"
---

<a href="/">
<Image
    src="/img/logo.svg"
    alt="logo"
    width="168"
    height="48"
    fetchpriority="high"
    loading="eager"
    class="w-auto h-auto"
  />
</a>