---
const { page } = Astro.props;
import { ChevronRight, ChevronLeft } from  '@lucide/astro';
---

<div class="mt-20 flex items-center gap-4">
  {
    page.url.prev && (
      <a href={page.url.prev} class="btn btn-outline">
        <ChevronLeft size={18} />
        Previous
      </a>
    )
  }

  <span>
    Page {page.currentPage} of {page.lastPage}
  </span>

  {
    page.url.next && (
      <a href={page.url.next} class="btn btn-outline">
        Next <ChevronRight size={18} />
      </a>
    )
  }
</div>